---
layout: archive
classes: wide
---

{{ content }}

<h2>About me</h2>
<!-- <p style="font-size:0.9em;"> -->
<p style="text-align:center;">
<img src="/assets/images/Yinghua_Hu_profile.JPG" alt="profile_photo" style="width:300px;height:300px;">
</p>
<p>
  I am a staff machine learning engineer at Synopsys, a global leader in electronic design automation and semiconductor intellectual property (IP). I received my doctoral degree in Electrical Engineering at <a href="https://www.usc.edu/">University of Southern California (USC)</a> in 2022, advised by <a href="https://descyphy.usc.edu/">Prof. Pierluigi Nuzzo</a>. Prior to my Ph.D. degree, I received my BSEE from <a href="https://en.nankai.edu.cn/">Nankai University</a> in 2017, and MSEE from <a href="https://www.usc.edu/">USC</a> in 2019.
</p>
<p>
  At Synopsys, I conduct research on artificial intelligence (AI) and machine learning (ML) algorithms specifically for chip design. My work focuses on developing and integrating AI and ML algorithms into <a href="https://www.synopsys.com/ai/chip-design/dso-ai.html">DSO.ai</a>, the industry’s first autonomous AI application for chip design. 
  This work complements my Ph.D. research interests, which focus on hardware security solutions for IP protection against threats on the integrated circuit (IC) supply chain, including the design and formal analysis of circuit obfuscation methods to prevent IC reverse-engineering. You may find a list of my publications <a href="/publication/">here</a>.
</p>
<p>
  I currently serve on the Technical Program Committee for prestigious conferences, including the Design Automation Conference (DAC) and IEEE International Symposium on Hardware Oriented Security and Trust (HOST). In addition, I am also an External Reviewer for leading IEEE journals, specifically the IEEE Transactions on Computer-Aided Design of Integrated Circuits and Systems (TCAD) and the IEEE Transactions on VLSI Systems (TVLSI). 
<!-- </h3> -->
</p>

<!-- <h3>News</h3> -->


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}", style="font-size:1em;">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
