---
layout: archive
classes: wide
---

{{ content }}

<h2>About me</h2>
<!-- <p style="font-size:0.9em;"> -->
<p style="text-align:center;">
<img src="/assets/images/Yinghua_Hu_profile.JPG" alt="profile_photo" style="width:300px;height:300px;">
</p>
<p>
  I am a Ph.D. candidate in the <a href="https://minghsiehece.usc.edu/">Ming Hsieh Department of Electrical and Computer Engineering</a> at <a href="https://www.usc.edu/">University of Southern California (USC)</a>. 
  My Ph.D. advisor is <a href="https://descyphy.usc.edu/">Prof. Pierluigi Nuzzo</a>. 
  I received my BSEE from <a href="https://en.nankai.edu.cn/">Nankai University</a> (2017) and MSEE from <a href="https://www.usc.edu/">USC</a> (2019).
</p>
<p>
  My research interests focus on hardware security solutions on the integrated circuit (IC) supply chains, including the design and formal verification of IC encryption solutions that prevent successful IC reverse engineering. You may find a list of my publications <a href="/publication/">here</a>.
<!-- </h3> -->
</p>

<!-- <h3>News</h3> -->


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}", style="font-size:1em;">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
